// @import 'yoga';
// @import 'normalize';
$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome';
@import 'box-sizing';
$gutter: 1rem;
$brand-orange: #f60;
$bright-white: #fff;
$gray: #5e6d70;
$black: #000;
$card-gray: #f2f2f2;

body {
  margin: 0;
}

ul {
  padding-left: 0;
  list-style: none;
}

button {
  outline: 0;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__nav {
    background: $brand-orange;
    color: $bright-white;
    font-family: sans-serif;
  }

  &__main {
    flex-grow: 1;
    padding: 0 $gutter;
  }
}

.container {
  display: flex;
  align-items: center;
  max-width: 60rem;
  margin: auto;
}

.title {
  flex-grow: 1;
  padding: 0;
}

.add-btn {
  border: 0;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

.fa-plus-circle {
  color: $bright-white;
  font-size: 2rem;
}

// FORM STYLES

.nav-form {
  display: none;
  width: 100%;
  padding: $gutter;
  background: $gray;
  color: $bright-white;
  font-family: sans-serif;
  overflow: hidden;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-list {
  display: flex;
  flex-direction: column;
  width: 60rem;

  &__item {
    padding-bottom: 0.5rem;
  }
}

.form-input {
  width: 100%;
  border: 0;
  border-bottom: 0.1rem solid $black;
  background: transparent;
  color: $bright-white;
  font-size: 1rem;
  line-height: 1.5rem;
}

// PUPPY CARD STYLES!

.puppy-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 60rem;
  margin: $gutter 0;
  background: $card-gray;
  color: $black;
  font-family: sans-serif;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.object-fit {
  width: calc(100% / 3);
  height: auto;
}

.pic-frame {
  margin: $gutter;
  position: relative;
  width: 100%;
  overflow: hidden;
  &__pic {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
    &::before {
      content: "";
      display: block;
      padding-top: 100%;
  }
}


.card-info {
  flex-grow: 1;
  margin-right: $gutter;
  margin-left: 2rem;
  height: 100%;
}

.card-list {
  &__item {
    padding-bottom: 1rem;
  }
}

.card-info__title {
  margin: 0;
  padding: 0;
  color: $black;
}

.card-input {
  width: 100%;
  border: 0;
  border-bottom: 0.1rem solid $black;
  background: transparent;
  color: $brand-orange;
  font-size: 1rem;
  line-height: 1.5rem;
}

.btn {
  padding: 0.7rem;
  border: 0;
  border-radius: 0.4rem;
  background: $brand-orange;
  color: $bright-white;
  font-size: 1rem;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hidden {
  display: flex;
}
