// @import 'yoga';
// @import 'normalize';

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome';
@import 'box-sizing';

$gutter: 1rem;
$brand-orange: #ff6600;
$bright-white: #fff;
$gray: #5e6d70;
$card-gray: #f2f2f2;

body {
  margin: 0;
}

ul {
  padding-left: 0;
  list-style: none;
}

figure {
  margin-left: 0;
}

// hr {
//   background: black;
//   width: 100%;
// }

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__nav {
    // padding: 0 $gutter;
    background: $brand-orange;
    color: $bright-white;
    font-family: sans-serif;
  }

  &__main {
    flex-grow: 1;
    padding: 0 $gutter;
  }
}

.container {
  display: flex;
  align-items: center;
  max-width: 60rem;
  margin: auto;
}

.title {
  flex-grow: 1;
  padding: 0;
}

.add-btn {
  background: transparent;
  border: none;
}

button:hover {
  cursor: pointer;
}

.fa-plus-circle {
  color: $bright-white;
  font-size: 2rem;
}

// FORM STYLES

.nav-form {
  // display: none;
  display: flex;
  width: 100%;
  padding: $gutter;
  background: $gray;
  color: $bright-white;
  font-family: sans-serif;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.addpup {
}

.form-list {
  display: flex;
  flex-direction: column;
  width: 60rem;
  &__item {
    padding-bottom: 0.5rem;
  }
}

.form-input {
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 0.1rem solid black;
  line-height: 1.5rem;
  font-size: 1rem;
  color: $bright-white;
}

.button-container__form {
}

.btn-save {

}

// PUPPY CARD STYLES!
// PUPPY CARD STYLES!
// PUPPY CARD STYLES!
// PUPPY CARD STYLES!
// PUPPY CARD STYLES!


.puppy-card {
  display: flex;
  align-items: center;
  background: $card-gray;
  color: black;
  font-family: sans-serif;
  width: 60rem;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  margin: $gutter 0;
}

.pic-frame {
  width: 17rem;
  margin: $gutter;
}

.pic-frame__pic {
  width: 100%;
  height: auto;
}

.card-info {
  flex-grow: 1;
  margin: $gutter;
}

.card-list {

  &__item {
    padding-bottom: 0.5rem;
  }

}

.card-info__title {
  color: #000000;
  padding: 0;
  margin: 0;
}

.card-input {
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 0.1rem solid black;
  line-height: 1.5rem;
  font-size: 1rem;
  color: $brand-orange;
}

.btn {
  background: $brand-orange;
  color: white;
  border: none;
  padding: 0.7rem;
  font-size: 1rem;
  border-radius: 0.4rem;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
